@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Activation</title>
    <link rel="stylesheet" href="~/Content/zTreeStyle.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/Activate.css" type="text/css" />
    <link type="text/css" rel="stylesheet" href="~/Content/msgbox.css" />
</head>
<body>

    <header>
        <div style="background-color:#1a4994;width:100%;">
            <img src="~/Content/img/NextLabs.png" />
        </div>
    </header>
    <section class="text">
        <div class="title">
            <h2>@ViewBag.ActivationTitle</h2>
        </div>
    </section>
    <section class="desc">
        <div class="left">
            <h3>@ViewBag.ActivationDescriptionTitle</h3>
            <p>@ViewBag.ActivationDescriptionText</p>
        </div>
    </section>
    <section class="overview">
        <div class="left">
            <h3>@ViewBag.ActivationOverviewTitle</h3>
            <p>@ViewBag.ActivationOverviewText</p>
        </div>
        <div class="right">
            <div id="zTree-box" style="height:400px">
                <ul id="regionZTree" class="ztree"></ul>
            </div>
        </div>
    </section>
    <footer class="btns">
        <button id="btn-save" onclick="EnforceEntitySubmit()">Save</button>
        <button id="btn-cancel">Cancel</button>
    </footer>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="~/Scripts/msgbox.js"></script>
    <script src="~/Scripts/jquery.ztree.all.min.js"></script>
    <script>
        var jsonData =@Html.Raw(Json.Encode(@ViewBag.data));
        var data = JSON.parse(jsonData);
    </script>
    <script src="~/Scripts/Activate.js"></script>

</body>
</html>

