
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Configuration</title>
    <link type="text/css" rel="stylesheet" href="~/Content/configuration.css" />
    <link type="text/css" rel="stylesheet" href="~/Content/msgbox.css" />
</head>
<body>
    <header>
        <div style="background-color:#1a4994;width:100%;">
            <img src="~/Content/img/NextLabs.png" />
        </div>
    </header>
    <section class="title">
        <h2>@ViewBag.ConfigurationTitle</h2>
    </section>
    <section>
        <div class="left">
            <h3>@ViewBag.ConfigurationDescriptionTitle</h3>
            <p>@ViewBag.ConfigurationDescriptionText</p>
        </div>
        <div class="right">
            <ul>
                <li>
                    <label>@ViewBag.ConfigurationJPCHostTitle</label>
                    <input id="JavaPcHost" name="JavaPcHost" value="@ViewBag.JavaPcHost" />
                </li>
                <li>
                    <label>@ViewBag.ConfigurationCCHostTitle</label>
                    <input id="OAUTHHost" name="OAUTHHost" value="@ViewBag.OAUTHHost" />
                </li>
                <li>
                    <label>@ViewBag.ConfigurationClientIDTitle</label>
                    <input id="ClientSecureID" name="ClientSecureID" value="@ViewBag.ClientSecureID" />
                </li>
                <li>
                    <label>@ViewBag.ConfigurationClientSecureKeyTitle</label>
                    <input id="ClientSecureKey" name="ClientSecureKey" value="@ViewBag.ClientSecureKey" type="password" />
                </li>
                <li>
                    <div class="hide" id="TestConnectionResult" style="width: 360px;height:21px;color:red">@ViewBag.TestConnectionFaildMessage</div>
                </li>
                <li>
                    <label>@ViewBag.ConfigurationDefaultBehaviorTitle</label>
                    <select id="DefaultBehaviorSelect">
                        <option value="allow">Allow</option>
                        <option value="deny">Deny</option>
                    </select>
                </li>
            </ul>
        </div>
    </section>
    <section class="btns">
        <div id="btns">
            <button class="save" onclick="ConfigurationSubmit()">Save</button>
            <button class="cancel" onclick="onCancelClick()">Cancel</button>
        </div>
    </section>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="~/Scripts/msgbox.js"></script>
    <script src="~/Scripts/configuration.js"></script>
    <script>
        var DefaultBehavior = '@ViewBag.DefaultBehavior';
        $("#DefaultBehaviorSelect").val(DefaultBehavior);
    </script>
</body>
</html>
